*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


/*Home*/
.background
{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("/Media/Fancy.jpg");
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-position: center;
    background-attachment: fixed;
}
.way a
{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin: 20px;
    position: relative;
}
.main
{
    margin: auto;
    width: 75%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.way a::after
{
    content: '';
    height: 3px;
    width: 0;
    background: rgb(196, 111, 31);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.way a:hover::after
{
    width: 100%;
}
.about
{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-30%);
    text-align: center;
    color: white;
}
.about h1
{
    font-size: 70px;
    color: rgb(196, 111, 31);
    padding-bottom: 20px;
}
.about p
{
    line-height: 22px;
    padding-bottom: 25px;
}
.about button
{
    padding: 18px;
    font-size: large;
    font-weight: bold;
    color: white;
    border-radius: 30px;
    border: 5px solid rgb(196, 111, 31);
    background: transparent;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.about button span
{
    background: rgb(196, 111, 31);
    height: 100%;
    width: 0;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
.about button:hover span
{
    width: 100%;
}
.icon a
{
    margin: 30px;
    cursor: pointer;
}
.icon
{
    padding-top: 20px;
}
/* .about button:hover
{
    border: none;
} */


/*Menu*/
.background-2
{
    /* width: 100vw;
    height: 100vh; */
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("/Media/Fancy.jpg");
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    background-position: center;
    background-attachment: fixed;
}
.gallery-1, .gallery-2
{
    border: 5px rgb(196, 111, 31) solid;
    color: white;
    line-height: 22px;
    text-align: justify;
    margin: auto;
    width: 56%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gallery-1 h1, .gallery-2 h1
{
    padding-bottom: 10px;
    color: rgb(196, 111, 31);
    font-weight: bolder;
    font-size: 40px;
}
.gallery-2 button
{
    padding: 10px;
    font-size: large;
    font-weight: bold;
    color: white;
    border-radius: 30px;
    border: 5px solid rgb(196, 111, 31);
    background: transparent;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.gallery-2 button span
{
    background: rgb(196, 111, 31);
    height: 100%;
    width: 0;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
.gallery-2 button:hover span
{
    width: 100%;
}
.video
{
    text-align: center;
}
video
{
    border-top: 50px;
    border: 6px rgb(196, 111, 31) solid;
}
.order
{
    padding-top: 70px;
}
.text
{
    padding: 11px;
}
.bttn
{
    padding: 8px;
    background-color: transparent;
    border: 5px rgb(196, 111, 31) solid;
    color: white;
    font-weight: bolder;
}
.search
{
    margin-right: 385px;
    text-align: right;
}
.pakkon
{
    padding-top: 50px;
}
.shaj
{
    padding-top: 30px;
}
.zinuk
{
    padding-top: 30px;
    padding-bottom: 80px;
}
.price
{
    color: rgb(196, 111, 31);
    font-weight: bolder;
    font-size: 20px;
    padding-right: 200px;
}
.price-2
{
    color: rgb(196, 111, 31);
    font-weight: bolder;
    font-size: 20px;
    padding-right: 178px;
}
.reviews h1
{
    padding-top: 170px;
    padding-bottom: 50px;
    color: rgb(196, 111, 31);
    text-align: center;
}

/*Reviews*/
.reviews p
{
    color: white;
    text-align: center;
    font-weight: bold;
}
.field
{
    padding-top: 30px;
    text-align: center;
}
textarea
{
    padding-top: 30px;
    text-align: center;
    margin-bottom: 20px;
    border: 6px rgb(196, 111, 31) solid;
}
.field p
{
    color: white;
}
.field button
{
    padding: 10px;
    font-size: large;
    font-weight: bold;
    color: white;
    border-radius: 30px;
    border: 5px solid rgb(196, 111, 31);
    background: transparent;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.field button span
{
    background: rgb(196, 111, 31);
    height: 100%;
    width: 0;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
.field button:hover span
{
    width: 100%;
}

/*Location*/
.branch h2
{
    padding-top: 50px;
    color: rgb(196, 111, 31);
    text-align: center;
}
.map p
{
    padding-top: 50px;
    text-align: center;
}

/*Why US*/
.why
{
    color: white;
    line-height: 22px;
    text-align: justify;
    margin: auto;
    width: 56%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.why p
{
    color: white;
    text-align: justify;
}
.why h1
{
    color: rgb(196, 111, 31);
    padding-bottom: 60px;
}
.why img
{
    padding-right: 80px;
}